BITCOIN_HOST=
BITCOIN_PORT=
BITCOIN_USER=
BITCOIN_PASS=

POSTGRES_FULL="postgresql://user:password@127.0.0.1:5432/1sats?sslmode=disable"

JUNGLEBUS=https://junglebus.gorillapool.io

## the subscription id, go https://junglebus.gorillapool.io/ to got one
ONESAT=